<div class="col-6">
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" value="{{this.id}}" placeholder="Roll" name="id">
    <label for="floatingInput">Class Roll</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Name}}" placeholder="Name" name="Name">
    <label for="floatingInput">Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Phone}}" placeholder="Phone" name="Phone">
    <label for="floatingInput">Phone</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.Email}}" placeholder="email@gmail.com"
      name="Email">
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Hall}}" placeholder="Hall" name="Hall">
    <label for="floatingInput">Hall</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" value="{{this.Batch}}" placeholder="Batch"
      name="Batch">
    <label for="floatingInput">Batch</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Dept}}" placeholder="Dept" name="Dept">
    <label for="floatingInput">Department</label>
  </div>
</div>

<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>