<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/tracking">Tracking activity</a></li>
    <li class="breadcrumb-item active" aria-current="page">See all activity of searched Roll</li>
  </ol>
</nav>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Activity</th>
      <th scope="col">Points</th>
      <th scope="col">Department</th>
      {{!-- <th scope="col">Batch</th>
      <th scope="col">Department</th> --}}
      {{!-- <th scope="col">Dept</th> --}}
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.Name}}</th>
      <td>{{this.Date}}</td>
      <td>{{this.Activity}}</td>
      <td>{{this.Points}}</td>
      <td>{{this.Dept}}</td>
    </tr>
    {{/each}}
